body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#radioContainer {
    display: flex;
    flex-direction: column;
}

#gridContainer {
    display: grid;
    grid-template-columns: repeat(16, 32px);
    grid-template-rows: repeat(16, 32px);
}

.hovered {
    background-color: black;
}

.gridCell {
    border-width: thin;
}

.cellsTop {
    border-top: solid;
}

.cellsLeft {
    border-left: solid;
}

.cellsBottomRight {
    border-bottom: solid;
    border-right: solid;
}